@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}
@keyframes wipe-in-right-100 {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes wipe-out-left {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 100% 0 0);
  }
}
@keyframes wipe-in-left {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes wipe-out-right {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}

@keyframes right-to-left {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
@keyframes right-to-invisible {
  from {
    right: 0%;
  }
  to {
    right: -100%;
  }
}
@keyframes right-to-visible {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes left-to-right {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes wipe-out-down {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(100% 0 0 0);
  }
}

@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes wipe-out-up {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 100% 0);
  }
}

@keyframes wipe-in-up {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes change-width-50 {
  100% {
    width: 35px;
  }
  50% {
    width: 50%;
  }
  0% {
    width: 35px;
  }
}

@keyframes change-width-75 {
  100% {
    width: 35px;
  }
  50% {
    width: 75%;
  }
  0% {
    width: 35px;
  }
}

body,
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.navbar__toggle .bar {
  display: block;
  cursor: pointer;
  width: 35px;
  height: 4px;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
  background: #fff;
  z-index: 999999;
  /* transition: width 0.5s; */
}

.navbar__toggle:hover .bar:nth-child(1) {
  animation: 0.75s cubic-bezier(0.25, 1, 0.3, 1) change-width-50;
}
.navbar__toggle:hover .bar:nth-child(2) {
  animation: 0.75s cubic-bezier(0.25, 1, 0.3, 1) change-width-75;
}

#mobile-menu {
  position: absolute;
  top: 4%;
  right: 4%;
  transform: translate(5%, 20%);
  z-index: 999999;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bg {
  background-image: url("images/vegeta-dragon-ball.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img_1 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right-100 both; */
  display: none;
  position: absolute;
  background-image: url("images/Goku-4k.jpg");

  height: 100%;
  width: 50%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.img_2 {
  display: none;
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  position: absolute;
  background-image: url("images/goku-face.jpg");

  height: 50%;
  width: 50%;
  top: 0%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.img_3 {
  display: none;
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  position: absolute;
  background-image: url("images/goku-half-body.jpg");

  height: 50%;
  width: 50%;
  top: 50%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.img_4 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-image: url("images/standing-goku.jpg");

  height: 100%;
  width: 50%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.img_5 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-image: url("images/red-goku.jpg");

  height: 50%;
  width: 50%;
  top: 0%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.img_6 {
  /* animation: 1.2s right-to-left both; */
  display: none;
  position: absolute;
  background-image: url("images/golden-hair-goku.jpg");

  height: 50%;
  width: 50%;
  top: 0%;
  left: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_7 {
  /* animation: 1.2s right-to-left both; */
  display: none;
  position: absolute;
  background-image: url("images/blue-golden-bg-goku.jpg");

  height: 50%;
  width: 50%;
  top: 50%;
  left: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.img_8 {
  /* animation: 3s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-image: url("images/blue-hair-goku.jpg");

  height: 100%;
  width: 50%;
  top: 0%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.img_9 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-image: url("images/goku-face.jpg");

  height: 50%;
  width: 50%;
  top: 0%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.img_10 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-image: url("images/goku-half-body.jpg");

  height: 50%;
  width: 50%;
  top: 50%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.img_11 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right-100 both; */
  display: none;
  position: absolute;
  background-image: url("images/Goku-4k.jpg");

  height: 100%;
  width: 50%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_12 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  /* background-image: url("images/goku-face.jpg"); */
  background-color: rgb(26, 26, 117);

  height: 100%;
  width: 50%;
  top: 0%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_13 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-down both; */
  display: none;
  position: absolute;
  background-color: rgba(170, 146, 11, 0.906);

  height: 100%;
  width: 50%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_14 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-up both; */
  display: none;
  position: absolute;
  background-image: url("images/standing-goku.jpg");

  height: 100%;
  width: 50%;
  top: 0%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.img_15 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right-100 both; */
  display: none;
  position: absolute;
  background-image: url("images/blue-hair-goku.jpg");

  height: 100%;
  width: 50%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_16 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-color: black;

  height: 100%;
  width: 50%;
  top: 0%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_17 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-down both; */
  display: none;
  position: absolute;
  background-color: rgb(223, 177, 10);

  height: 100%;
  width: 50%;
  top: 0%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_18 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-up both; */
  display: none;
  position: absolute;
  background-image: url("images/standing-goku.jpg");

  height: 100%;
  width: 50%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_19 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right-100 both; */
  display: none;
  position: absolute;
  background-image: url("images/vegeta-dragon-ball.jpg");

  height: 50%;
  width: 50%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_20 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right-100 both; */
  display: none;
  position: absolute;
  background-image: url("images/red-goku.jpg");

  height: 50%;
  width: 50%;
  top: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_21 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-color: grey;

  height: 50%;
  width: 50%;
  top: 0%;
  right: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_22 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-image: url("images/goku-face.jpg");

  height: 50%;
  width: 50%;
  top: 50%;
  right: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_23 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-image: url("images/goku-face.jpg");

  height: 50%;
  width: 50%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_24 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-color: grey;

  height: 50%;
  width: 50%;
  top: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_25 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-color: rgba(255, 166, 0, 0.78);

  height: 50%;
  width: 50%;
  top: 0%;
  right: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_26 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both; */
  display: none;
  position: absolute;
  background-image: url("images/goku-half-body.jpg");

  height: 50%;
  width: 50%;
  top: 50%;
  right: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_27 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-up both; */
  display: none;
  position: absolute;
  background-image: url("images/standing-goku.jpg");

  height: 100%;
  width: 50%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.img_28 {
  /* animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-down both; */
  display: none;
  position: absolute;
  background-color: black;
  height: 100%;
  width: 50%;
  top: 0%;
  right: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.down_arr_class{
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  top: 88%;
  left: 50%;
  align-items: center;
  z-index: 2;
}

#down_arrow {
  width: 60px;
  fill: #ffffff;
  z-index: 2;
  transition: rotate 1s;
  margin-left: -100%;
}

.navbar_menu {
  animation: 1.5 cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
  display: flex;
  position: fixed;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  top: 0%;
  justify-content: center;
  background-color: black;
  z-index: 2;
}

.navbar_menu_ul {
  display: inline-block;
  flex-direction: column;
  margin-left: -4%;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  width: 38%;
  align-content: center;
  align-self: center;
}
.navbar_menu_ul li {
  cursor: pointer;
  list-style-type: none;
  font-size: 2rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
  padding-bottom: 4.5%;
  padding-top: 4.5%;
  transition: font-size 0.5s;
}
.navbar_menu_ul li:last-child {
  border-bottom: none;
}
.navbar_menu_ul li:hover {
  color: red;
  font-size: 2.2rem;
}
